/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header-stil */
.admin-header {
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    padding: 5px 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6vw;
    box-sizing: border-box;
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Layout container */
.layout {
    display: flex;
    margin: 20px;
}

/* Sidebar styles */
.sidebar {
    width: 25%; /* Sidebar takes up 25% of the screen */
    padding: 5px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc; /* A separator between sidebar and main content */
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 4vw;
}

/* Main content area */
.main-content {
    width: 75%; /* Main content takes up 75% of the screen */
    padding: 20px;
}

main > * {
    width: 100%; /* Full width of the main content */
    margin-bottom: 20px; /* Add space between each section */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

/* Button styling */
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


